html {
  background-image: url("background.jpg");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

body {
  margin: 20px;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
}


pre {

    white-space: pre-wrap;

}

.button {
  color: black;

}
#root {
  width: 100%;
}



.heading {
  font-family: 'Cairo', sans-serif;
  font-size: 30px;
}

.styledButton {
  margin-left: 2px;
  margin-right: 2px;
	background-color:rgb(94, 145, 195);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;

}
.styledButton:hover {
	background-color:rgb(108, 155, 202);
}
.styledButton:active {
	position:relative;
	top:1px;
}


#banner {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 10px;
}

#bodyFeild {
  border-radius: 25px;
  margin-top: 7%;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  background-color: rgb(249, 249, 249);
  min-width: 500px;
  min-height: 300px;
}

#navBar {
  border-bottom: solid rgba(0, 0, 0, .2);
  border-radius: 21px 21px 0px 1px;
  text-align: center;
  background-color: rgb(94, 145, 195);

}


/**
Home page css
**/



#projectDescriptionHome {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

#homeleft {
  width: auto;
}
#homeright {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

#portrait {
  width: 200px;
  height: auto;
  border: solid;
  border-width: 4px;
  border-radius: 20px;
  float: right;
}
/*
  end home page CSS
 */

/*
Portfolio css
*/

#portfolioBody {
  width: auto;
}
#portfolioRight {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;

}

.dockerLink {
  padding-left:100px;
  text-decoration: none;
}
#portfolioYaml {
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: rgb(238, 240, 240);
  font-size: 12px;
  font-family: sans-serif;
  min-width: 250px;
  white-space: pre;
}

.testbutton {
  text-decoration: none;
  border-radius: 12px;
  padding: 2px 12px 2px 12px;
  text-shadow: 1px;
  border-width: 3px;
  font-size: 17px;
  color: white;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
  background-color:rgb(94, 145, 195);

}

.testbutton:hover {
  color:rgb(218, 247, 215);

}

#test {
 width:100%;
 text-align: center;
}
/*
end portfolio CSS
*>


/*
  possibly going to be deprecated
 */
#generalDescription {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 15px;
  text-align: center;
}

#projectDescription {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#additonalText {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

/**
these all reference the same text block, essentially we will style the codeSnippet block based on the button that is clicked
**/
#codeSnippet {
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: rgba(255, 250, 248, 1);
  font-size: 12px;
  font-family: sans-serif;
}

#WebScraper {
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: rgb(238, 240, 240);
  font-size: 12px;
  font-family: sans-serif;
}

#Portfolio {
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: rgb(238, 240, 240);
  font-size: 12px;
  font-family: sans-serif;
}

#Home {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

#Resume {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

#Contact {
  margin-left:10%;
  padding-left: 10px;
  padding-right: 5px;
  font-family: serif;
}
