html {
  background-color: rgba(205, 226, 248, 0.3);

}

body {
  margin: 20px;
  width: 100%;
}

.button {
  color: black;

}
#root {
  width: 100%;
}

#bodyFeild {
  border-radius: 25px;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  background-color: rgba(255, 255, 255);
  min-width: 500px;
}

#navBar {
  border-bottom: solid rgba(0, 0, 0, .2);
  border-radius: 1px;
  text-align: center;

}

#banner {
  text-align: center;
  font-family: Bookman;

}

#generalDescription {
  padding-left: 5px;
  padding-right: 5px;
}

#codeSnippet {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 100px;
}


#projectDescription {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 100px;
}
