html {
  background-color: rgba(205, 226, 248, 0.3);
  background-image: url("background.jpg");
  background-size: 100%;
}

body {
  margin: 20px;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
}

.button {
  color: black;

}
#root {
  width: 100%;
}

.styledButton {
  margin-left: 2px;
  margin-right: 2px;
	background-color:#7892c2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.styledButton:hover {
	background-color:#476e9e;
}
.styledButton:active {
	position:relative;
	top:1px;
}

#additonalText {


}

#banner {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

#bodyFeild {
  border-radius: 25px;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  background-color: rgb(232, 237, 241);
  min-width: 500px;
  min-height: 500px;
}

#navBar {
  border-bottom: solid rgba(0, 0, 0, .2);
  border-radius: 21px 21px 0px 1px;

  text-align: center;
  background-color: #7892c2;

}



#generalDescription {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 20px;
  text-align: center;
}

#projectDescription {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#additonalText {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/**
these all reference the same text block, essentially we will style the codeSnippet block based on the button that is clicked
**/
#codeSnippet {
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: rgb(238, 240, 240);
  font-size: 12px;
  font-family: sans-serif;
}

#WebScraper {
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: rgb(238, 240, 240);
  font-size: 12px;
  font-family: sans-serif;
}

#Mongo {
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: rgb(238, 240, 240);
  font-size: 12px;
  font-family: sans-serif;
}

#Home {
  padding-left: 10px;
  padding-right: 10px;
}

#Blog {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 20px;
  font-family: serif;
}

#Contact {
  padding-left: 10px;
  padding-right: 5px;
  font-family: serif;
}
